.ep_loading_pad_container{
    width:446px;
    margin-top:281px ;
    margin: auto;
}
.wrapper {
    display: grid;
    place-items: center;
  }
  
  .loadingLogo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 500px;

  }
  
  .animationOn {
    animation: spin 1.3s infinite ease-in-out;
  }
  .animateTwo {
    animation: animateAgain 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: scale(1) rotateY(0deg);
    }
    25% {
      opacity: 1;
    }
    50% {
      transform: scale(0.9) rotateY(360deg);
      opacity: 0.9;
    }
    75% {
      opacity: 1;
    }
    100% {
      transform: scale(1) rotateY(360deg);
    }
  }
  
  @keyframes animateAgain {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.9);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
 
@media print{
    .ep_loading_pad_container{
        width:100% !important;
    }
    .loadingLogo{
        width: 50%;
    }
  }
  @media (max-width: 720px){
    .ep_loading_pad_container{
        width:100% !important;
    }
    .loadingLogo{
        width: 50%;
    }
  }
