#image_style_div{
    width : 100%;
    height: 100%;
}
#image_style_img{
    width: 14%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.padLoading{
    font-style: italic;
}

/* Imported css */
.c10 {
    color: inherit;
    text-decoration: inherit
}
.c11{
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center
}
.c12 {
    font-size: 14pt;
    color: #1155cc;
    font-weight: 700
}

.c13 {
    font-weight: 700
}
.c16 {
    text-decoration-skip-ink: none;
    font-size: 12pt;
    -webkit-text-decoration-skip: none;
    color: #2178fa;
    text-decoration: underline
}

.c20 {
    font-size: 12pt
}



@media screen and (max-width: 480px) {
    #image_style_img{
        width: 100%;

    }
  }