<div id="image_style_div">
    <!-- <p data-l10n-id="pad.loading" class="padLoading" id="loading" aria-label="Loading...">Loading...</p> -->
    <image src="../static/plugins/ep_loading_pad/static/images/loading.gif" id="image_style_img" ></image>
    <h2 class="docsPlus">docs.plus</h2>
    <p class="c11"><span class="c12">&#9888;&#65039; early access &#9888;&#65039;</span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c11"><span class="c0">enquiries &amp; bug reports to</span></p>

    <p class="c11"><span
        style="display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 17.70px; height: 14.90px;"><img
            alt="" src="../static/plugins/ep_loading_pad/static/images/image1.png"
            style="float: right;width: 27px;height: 27px;margin-top: -30%; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
            title=""></span><span class="c16"><a class="c10"
            href="https://www.twitter.com/docsdotplus">@docsdotplus</a></span>
    </p>
    <p class="c11"><span class="c20">&#x1f4e7;</span><span class="c20">&nbsp;</span><span class="c16"><a class="c10"
                href="mailto:ed@newspeak.house">ed@newspeak.house</a></span>
    </p>
</div>