<div class="ep_loading_pad_container">
    <img src="../static/plugins/ep_loading_pad/static/images/logo.png" class="ep_loading_pad_logo">
    <p class="ep_loading_pad_loading_text">Loading...</p>

    <br>
    <div class="ep_loading_pad_loading_text_general_container">
        <p class="ep_loading_pad_loading_text_general">docs.plus is currently in early access</p>
        <br>
        <p class="ep_loading_pad_loading_text_general">please report bugs to <a class="ep_loading_pad_loading_link_general" href="mailto:ed@newspeak.house">ed@newspeak.house</a></p>
    
    </div>


    <button class="ep_loading_pad_loading_reload_button" value="reload" onclick="window.location.reload();">Reload</button>

</div>