<div class="ep_loading_pad_container">
  <div id="innerSkeleton">
    <div class="paragraph">
      <div class="line header"></div>
      <div class="line medium"></div>
      <div class="line large"></div>
      <div class="line large"></div>
      <div class="line small"></div>
    </div>
    <div class="paragraph">
      <div class="line header"></div>
      <div class="line medium"></div>
      <div class="line large"></div>
      <div class="line large"></div>
      <div class="line small"></div>
    </div>
    <div class="paragraph">
      <div class="line header"></div>
      <div class="line medium"></div>
      <div class="line large"></div>
      <div class="line large"></div>
      <div class="line small"></div>
    </div>
  </div>
</div>
